<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/cleru2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/mark.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">MARK</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Gayman</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bestman</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/clark2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/clark.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">CLARK</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Angryman</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Groomsmen</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/edmarc2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/edmarc.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">EDMARC</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Fatherman</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Groomsmen</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/marvin2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/marvin.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">MARVIN</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Maoyman</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Groomsmen</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/joed2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/joed.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">JOED</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Kiwiman</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Groomsmen</span>
      <% end %>
    </div>
  </div>
</div>