<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/gira2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/gira.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">MARY</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Kiwi of Honor</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Matron of Honor</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/kp2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/kp.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">KP</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Aussiemaid</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bridesmaid</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/lei2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/lei.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">LEI</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Singermaid</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bridesmaid</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/ria2.png', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/ria.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">RIA</h3>
      <% if params[:alterego].present? %> 
        <span class="text-sm text-brown-200 merriweather">Beermaid</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bridesmaid</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/joyce2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/joyce.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">JOYCE</h3>
      <% if params[:alterego].present? %> 
        <span class="text-xs text-brown-200 merriweather">Pa konekakowifiya maid</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bridesmaid</span>
      <% end %>
    </div>
  </div>
</div>

<div class="swiper-slide">
  <div class="home-artwork flex flex-col m-auto">
    <div class="art-image rounded">
      <% if params[:alterego].present? %> 
        <%= image_pack_tag 'static/images/tin2.jpg', class: "object-cover w-full h-full" %>
      <% else %>
        <%= image_pack_tag 'static/images/tin.jpg', class: "object-cover w-full h-full" %>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <h3 class="font-semibold text-sm merriweather">CHRISTINE</h3>
      <% if params[:alterego].present? %> 
        <span class="text-xs text-brown-200 merriweather">Cosplayermaid</span>
      <% else %>
        <span class="text-sm text-brown-200 merriweather">Bridesmaid</span>
      <% end %>
    </div>
  </div>
</div>