<div class="w-full">
  <div class="relative">
    <div class="overflow-hidden campaign-tile-bg">
      <%= image_pack_tag 'static/images/ronnie-nins-bg.png', class: 'w-full' %>
    </div>
    <div class="absolute w-full inset-x-0 top-0 p-5">
      <div class="w-3/4 mx-auto text-center">
        <h3 class="mt-20 text-green-light font-light text-xl merriweather uppercase mb-10 md:mb-20">You are invited to</br>celebrate our wedding</h3>
        <%= image_pack_tag 'static/images/ronnie-nins-text.svg', class: 'w-full px-10' %>

        <div class="flex justify-center gap-5 items-center mt-12">
          <h3 class="text-lg text-green-100 font-bold merriweather text-center">DEC</h3>  
          <div class="flex flex-col border-x px-2 border-green-100 gap-0">
            <h3 class="text-lg text-green-100 font-bold merriweather text-center">MON</h3>
            <p class="text-2xl text-green-100 font-bold merriweather text-center -mt-2">09</p>
          </div>
          <h3 class="text-lg text-green-100 font-bold merriweather text-center">2024</h3>
        </div>
        <h3 class="text-sm text-green-100 font-light merriweather text-center mt-4">10'O CLOCK IN THE MORNING</h3>
        <p class="text-xs text-green-100 font-light merriweather text-center">ARCHBISHOP'S PALACE - ARCHDIOCESE OF CEBU</p>
      </div>
    </div>
  </div>

  <div class="p-5 bg-green-100">
    <p class="mt-5 mx-auto w-3/4 text-center merriweather font-light text-sm text-white">Come celebrate as we exchange vows and commit our lives to one another in the presence of our family and friends.</p>
    <p class="mt-5 mb-10 mx-auto w-3/4 text-center merriweather font-light text-sm text-white">We can’t wait to share this joyous occasion with you!</p>
    <%# Together, we embark on a beautiful new journey, and your presence will make this moment truly unforgettable. %>
  </div>
  <div class="pt-16 bg-green-25">
    <div class="w-3/4 mx-auto mb-10">
      <h3 class="text-4xl sm:text-7xl text-center text-green-dark font-minion-condensed font-light">DETAILS</h3>
    </div>
    <div class="flex justify-center mb-10">
      <span class="border-r border-green-100 h-8">&nbsp;</span>
      <span>&nbsp;</span>
    </div>
    <div class="relative">
      <div class="overflow-hidden campaign-tile-bg -mt-2 flex justify-center">
        <%= image_pack_tag 'static/images/ronnie-nins-church.png', class: 'w-full opacity-25' %>
      </div>
      <div class="absolute w-full inset-x-0 top-0 pb-5 px-5">
        <div class="w-3/4 sm:w-full mt-8 mx-auto flex flex-col items-center">
          <h3 class="merriweather text-md sm:text-xl text-green-dark font-bold">CEREMONY</h3>
          <div class="text-center mt-4">
            <p class="merriweather text-lg sm:text-md text-green-dark font-normal">ARCHBISHOP'S PALACE - ARCHDIOCESE OF CEBU</p>
            <p class="merriweather text-xs text-green-dark font-light underline"><a href="https://maps.app.goo.gl/xJeoa7fmWuLSH6Fm6" target="_blank">Dionisio Jakosalem Jakosalem St, Cebu City, 6000 Cebu</a></p>
          </div>
        </div>
        <div class="w-3/4 mx-auto text-center mt-12">
          <h3 class="merriweather text-md sm:text-xl text-green-dark font-bold">RECEPTION</h3>
        </div>
        <div class="w-full sm:w-3/4 mt-4 mx-auto flex flex-col items-center">
          <div class="text-center mt-2">
            <p class="merriweather text-lg sm:text-md text-green-dark font-normal">CASINO ESPAÑOL DE CEBU - BARCELONA ROOM</p>
            <p class="merriweather text-xs text-green-dark font-light underline"><a href="https://maps.app.goo.gl/vaqEz3GVxKqUrsK27" target="_blank">109 V. Ranudo St, Cebu City, 6000 Cebu</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe class="w-full" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCfFdSQmDnRZ9tLzSSwruacIFjhu-yECRM&origin=place_id:ChIJ6TRaEUWZqTMRlloIrB56UHM&destination=place_id:ChIJJSDyO0WZqTMRXaEQquMpzFk" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="py-16 px-8 bg-green-10">
    <div class="w-3/4 mx-auto mb-10">
      <h3 class="text-4xl sm:text-6xl text-center text-green-dark font-minion-condensed font-light">DRESS CODE</h3>
    </div>
    <div class="mt-5 mb-14 flex flex-col justify-between">
      <div>
        <div class="flex flex-col mb-5 text-center">
          <p class="text-sm merriweather text-brown-500">We kindly request our guests to wear <strong>formal/semi formal</strong> attire with the following colors on our special day.</p>
        </div>
      </div>
      <div class="w-full flex gap-2 justify-center">
        <div class="my-2 w-20 h-20 bg-green-emerald rounded-full p-2 hover:scale-110 transition-transform duration-200 ease-in-out shadow-md"></div>
        <div class="my-2 w-20 h-20 bg-green-kelly rounded-full p-2 hover:scale-110 transition-transform duration-200 ease-in-out shadow-md"></div>
        <div class="my-2 w-20 h-20 bg-green-teal rounded-full p-2 hover:scale-110 transition-transform duration-200 ease-in-out shadow-md"></div>
        <div class="my-2 w-20 h-20 bg-green-sage rounded-full p-2 hover:scale-110 transition-transform duration-200 ease-in-out shadow-md"></div>
      </div>
    </div>
  </div>

  <div class="relative" data-controller="guest-invitation">
    <div class="overflow-hidden">
      <%= image_pack_tag 'static/images/ronnie-nins-rsvp.png', class: 'w-full' %>
    </div>
    <div class="absolute w-full inset-x-0 top-0">
      <div class="w-3/4 mx-auto my-10">
        <h3 class="text-4xl sm:text-6xl text-center text-green-dark font-minion-condensed font-light">RSVP</h3>
      </div>
      <% unless @guest.already_answered? %>
        <div id="md-rsvp-header" class="my-2 sm:my-2 w-full sm:w-3/4 px-5 sm:hidden text-center">
          <h3 class="text-lg sm:text-xl merriweather text-green-dark">We have reserved <%= pluralize(@guest.number_of_seats, 'seat') %> for you. </h3>
          <p class="mt-2 sm:mt-5 text-xs sm:text-sm merriweather text-green-dark">Please let us know before 08.15.2024 if you're attending or not so we can reserve enough seats for everyone.</p>
        </div>
      <% end %>
      <% if @guest.undecided? && !@guest.locked %>
        <div id="sm-rsvp-header" class="my-2 sm:my-2 w-3/4 sm:w-full px-5 hidden sm:block text-center">
          <h3 class="text-lg sm:text-xl merriweather text-green-dark">We have reserved <%= pluralize(@guest.number_of_seats, 'seat') %> for you. </h3>
          <p class="mt-2 sm:mt-5 text-xs sm:text-sm merriweather text-green-dark">Please let us know if you're attending or not so we can save seats for everyone.</p>
        </div>
      <% end %>
      <% if @guest.already_answered? %>
        <% if @guest.attending? %>
          <p class="mt-5 sm:mt-10 md:mt-2 text-center text-lg text-green-dark merriweather px-5">We already got your response and reserved <%= pluralize(@guest.number_of_seats, 'seat') %> for you. See you soon!</p>
        <% else %>
          <p class="mt-5 sm:mt-10 md:mt-2 text-center text-lg text-green-dark merriweather px-5">We're sad to know that you wont make it.</p>
        <% end %>
      <% else %>
        <div id="response">
          <div class="flex flex-row justify-center gap-5 mb-2">
            <div class="flex flex-col items-center max-w-28 text-center merriweather text-green-dark cursor-pointer">
              <%= render 'guests/ronnie_and_nins/checkbox', status: '', target: 'going' %>
              <h3 class="text-xs sm:text-base">See you there!</h3>
            </div>
            <div class="flex flex-col items-center max-w-28 text-center merriweather text-green-dark cursor-pointer">
              <%= render 'guests/ronnie_and_nins/checkbox', status: '', target: 'notGoing'%>
              <h3 class="text-xs sm:text-base">Sadly, can't make it. </h3>
            </div>
          </div>
          <div class="w-3/4 m-auto">
            <%= simple_form_for @guest, url: guest_path(@guest.slug), method: :patch do |f| %>
              <div id="form-errors"></div>
              <%= f.input :is_attending, as: :hidden, label: "Are you attending?", input_html: { class: '', data: { target: 'guest-invitation.isAttending', action: 'change->guest-invitation#toggleInvite' } } %>          
              <div class="hidden" data-target="guest-invitation.attending">
                <%= f.input :seats_attending, collection: 0..@guest.number_of_seats, selected: @guest.number_of_seats,label: "How many are attending?", input_html: { class: 'w-1/8 rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-green-100 sm:text-sm sm:leading-6' }, label_html: { class: 'merriweather text-green-dark my-auto text-xs sm:text-sm font-medium leading-6 text-gray-900'}, wrapper_html: { class: 'flex justify-between my-2'} %>
                <%= f.input :phone_number, label: "Contact Number: ", input_html: { class: 'w-1/2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green-100 sm:text-sm sm:leading-6' }, label_html: { class: 'merriweather text-green-dark block my-auto text-xs sm:text-sm font-medium leading-6 text-gray-900'}, wrapper_html: { class: 'flex justify-between my-2' } %>
                <button type="submit" class="w-full inline-flex justify-center items-center gap-x-2 rounded-md bg-green-dark text-white px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-green-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-75">
                  Send Response
                  <span class="material-symbols-outlined">mail</span>
                </button>
                <p class="mt-5 sm:mt-10 md:mt-2 text-center text-xs text-green-dark merriweather">Your presence at our wedding is the greatest present we could ask for. If you would like to give a gift, pennies for our future wouldn't go amiss!</p>
              </div>
              <div class="hidden" data-target="guest-invitation.notAttending">
                <button type="submit" class="w-full inline-flex justify-center items-center gap-x-2 rounded-md bg-green-dark text-white px-3.5 py-2.5 text-sm font-semibold shadow-sm hover:bg-yellow-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
                  Send Response
                  <span class="material-symbols-outlined">mail</span>
                </button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

